body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: #F5CC97;
}

h1 {
    text-align: center;
    color: #282F66;
}
form{
    margin-top: 100px;
}

#combinationForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282F66;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left; color: #F5CC97;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #B8A77D; /* Cambia este color según tus preferencias */
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #F5CC97;
    color: #282F66;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

button:hover {
    background-color: #B8A77D;
}

#result {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
}
#result p {
    margin: 0;
}
